body{
  background-color: #242424;
}

.Home {
  text-align: center;
}

.Home-movies{
  margin-inline: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}
