#btn-save{
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: #777;
    margin-inline: auto;
    margin-top: 20px;
}

#btn-save:hover{
    background-color: #AAA;
}