.Watch{
    margin-top: 50px;
    margin-inline: auto;
    width: fit-content;
}

.Watch .Watch-episodes{
    height: 200px;
    overflow-y: scroll;
}

.Watch-episode-element{
    display: flex;
    color: white;
    padding: 5px;
}

.Watch-episode-element:hover{
    cursor: pointer;
    background-color: #404040;
}

.Watch-episode-element .Current-element,
.Watch-episode-element .Episode-name{
    margin: 0;
}

.Watch-episode-element .Episode-name{
    color: gray;
    margin-left: 10px;
}

.Watch-episode-element .Current-element{
    color: orange;
    margin-left: auto;
    margin-right: 10px;
}