.video-js {
    width: 100% !important;
    height: 100% !important;
}

.video-js .vjs-play-progress{
    background-color: #fdaf00;
}

.video-js .vjs-slider,
.video-js .vjs-load-progress,
.video-js .vjs-load-progress div{
    background: white;
    background-color: white;
}

.video-js .vjs-control-bar{
    background: linear-gradient(#0000, #000);
}

.video-js .vjs-control-bar{
    padding-block: 1.45em;
    height: 6em;
}

.video-js .vjs-title-bar {
    font-size: 3.2em;
    display: flex;
}